{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
     {% if category %}
          {{ category.description|truncatewords:155 }}
     {% else %}
           welcome to MY STORE where you can find all you need
     {% endif %}
{% endblock %}
{% block title %}
      {% if category %}
          {{ category.name }} - MY STORE
      {% else %}
           Explore Our New Collections -MY STORE
      {% endif %}
{% endblock %}

{% block content %}
     {% if category %}
        <div class="row my_row_class">
            <div class="mx_auto">


            <div>
                <p><a href="{% url 'ecommerceapp:allProdCat' %}">"Our New Collectios"</a></p>
            </div>
                </div>
        </div>
     {% endif %}
<div class="mx_auto">
     {% if category %}
         <img class="my_image" src="{{category.image.url}}" style="width:300px;height:300px;" alt="{{category.name}}">
</div>
    <br>
<div>
         <h1 class="text-center my_title">{{category.name}}</h1>
         <p class="text-justify">{{category.description}}</p>
</div>
     {% else %}
<div>
      <img class="my_image my_image_padding" src="{% static 'img/banner.png' %}"  style="width:100%; height:100%;" alt="Our Products">
</div>
<br>
<div>
       <h1 class="text-center my_title">Our Product Collections</h1>
        <p class="text-justify">In the fashion world, “style” is usually shorthand for “personal style,” or the way an individual expresses themselves through aesthetic choices such as their clothing, accessories, hairstyle, and the way they put an outfit together.</p>
</div>
      {% endif %}
<div class="container">
    <div class="row mx_auto">
        {% for product in products.object_list %}
        <div class="my_bottom_margin col-9 col-sm-12  col-md-4 xol-lg-4 ">
            <div class="card text-center" style="min-width:18rem; width:100%; height:100%;">
                <a href="{{product.get_url}}"><img class="card-img-top my_image" src="{{product.image.url}}" alt="{{product.name}}"></a>
                <div class="card-body"  >
                    <h4>{{product.name}}</h4>
                    <p>{{product.price}}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="mx_auto">
        {% if products.paginator.num_pages > 1 %}

     <hr>
        <div class="text-center">
            {% for pg in products.paginator.page_range %}
                   <a href="?page={{pg}}" class="btn btn-light btn-sm {% if products.number == pg %} active {% endif %}">{{pg}}</a>
            {% endfor %}
        </div>
        {% endif %}
    </div>
    <br>
</div>
{% endblock %}
